<main id="main" class="main">
    <div class="pagetitle">
       <h1>Functionals</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Functionals</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Issue card <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Week: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                         </div>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Month: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">E Statement <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Week: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                         </div>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Month: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Request E-Contract <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Week: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                         </div>
                        <div class="d-flex align-items-center mt-2">
                            <div>
                               <span>Month: 145 (</span>
                               <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                               <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
