
<!-- page-wrapper Start-->
<div class="page-wrapper row compact-wrapper compact-sidebar" id="pageWrapper">
    <!-- Page Header Start-->
    <!-- <div class="page-main-header" style="width: 100%;">
        <div class="main-header-right row m-0">
            <div class="row">
                <div class="main-header-left">
                    <div class="logo-wrapper">
                        <a href="https://laravel.pixelstrap.com/viho/dashboard">
                        <img class="img-fluid" src="https://laravel.pixelstrap.com/viho/assets/images/logo/logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="page-wrapper row compact-wrapper compact-sidebar sidebar-icon mt-4 mx-0">
        <!-- Page Sidebar Start-->
        <header class="main-nav close_icon"></header>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col-xl-5 box-col-12 des-xl-100 invoice-sec">
                        <div class="card" style="border: 1px solid #000;">
                            <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="row mt-3">
                                            <div class="col-xl-12 col-md-12 box-col-12">
                                                <div class="card justify-content-between align-items-center" style="border: 1px solid blue;">
                                                    <div class="card-header">
                                                        <div class="header-top d-sm-flex text-center">
                                                            <h5>Onboarding</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-xl-12 col-md-12 box-col-12">
                                                <div class="card custom-card" style="padding: 4px;">
                                                    <div class="text-center profile-details">
                                                        <h5 style="font-size: 18px;">Attending</h5>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Daily</h6>
                                                            <h3 style="font-size: 16px;">100</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Week</h6>
                                                            <h3 style="font-size: 16px;">200</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Month</h6>
                                                            <h3 style="font-size: 16px;">250</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mt-3">
                                            <div class="col-xl-12 col-md-12 box-col-12">
                                                <div class="card custom-card" style="padding: 4px;">
                                                    <div class="text-center profile-details">
                                                        <h5 style="font-size: 18px;">Pass Onboarding</h5>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Daily</h6>
                                                            <h3 style="font-size: 16px;">100</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Week</h6>
                                                            <h3 style="font-size: 16px;">200</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Month</h6>
                                                            <h3 style="font-size: 16px;">250</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row mt-3">
                                            <div class="col-xl-12 col-md-12 box-col-12">
                                                <div class="card custom-card" style="padding: 4px;">
                                                    <div class="text-center profile-details">
                                                        <h5 style="font-size: 18px;">Failure Onboarding</h5>
                                                    </div>
                                                    <div class="card-footer row">
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Daily</h6>
                                                            <h3 style="font-size: 16px;">100</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Week</h6>
                                                            <h3 style="font-size: 16px;">200</h3>
                                                        </div>
                                                        <div class="col-4 col-sm-4">
                                                            <h6 style="font-size: 10px;">Month</h6>
                                                            <h3 style="font-size: 16px;">250</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-7 mt-3">
                                        <div class="card">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Step of Onboarding</h5>
                                            <div class="card-body">
                                                <h6 style="font-size: 10px;">Today</h6>
                                                <div class="chart-main activity-timeline update-line">
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">CHECK CUST PHONE</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">Success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">SUBMIT EKYC</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">CHECK KYC STATUS</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">VIDEO STATEMENT</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">GET CONTRACT</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <div class="activity-line"></div>
                                                        <div class="activity-dot-primary"></div>
                                                        <div class="media-body d-block">
                                                            <h5 style="font-size: 12px;">SIGN CONTRACT</h5>
                                                            <p style="font-size: 10px;"> 150 (<span class="text-success">success</span>: 50, <span class="text-danger">Failure</span>: 100)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-xl-12 xl-100 box-col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="user-status table-responsive">
                                                    <table class="table table-bordernone">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" style="font-size: 14px;">Name step</th>
                                                                <th scope="col" style="font-size: 14px;">Week</th>
                                                                <th scope="col" style="font-size: 14px;">Month</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size: 10px;">CHECK CUST PHONE</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 10px;">SUBMIT EKYC</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 10px;">CHECK KYC STATUS</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 10px;">VIDEO STATEMENT</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 10px;">GET CONTRACT</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 10px;">SIGN CONTRACT</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                                <td style="font-size: 12px;">150 (50 <span class="text-success">success</span>, 100 <span class="text-danger">failure</span>)</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7 box-col-12 des-xl-100 invoice-sec">
                        <div class="card" style="border: 1px solid #000;">
                            <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
                                <div class="row">
                                    <div class="header-top d-sm-flex text-center">
                                        <h6>System Error (Hiển thị những system lỗi nhiều nhất)</h6>
                                    </div>
                                    <div class="col-xl-3 col-md-12 box-col-12">
                                        <div class="card social-widget-card">
                                            <div class="card-body" style="padding: 4px;">
                                                <h5 class="b-b-light" style="font-size: 16px;">Robo</h5>
                                                <div class="row">
                                                    <div class="col text-center b-r-light">
                                                        <span>Daily</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">20</h4>
                                                    </div>
                                                    <div class="col text-center b-r-light">
                                                        <span>Week</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">50</h4>
                                                    </div>
                                                    <div class="col text-center">
                                                        <span>Month</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">100</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-12 box-col-12">
                                        <div class="card social-widget-card">
                                            <div class="card-body" style="padding: 4px;">
                                                <h5 class="b-b-light" style="font-size: 16px;">Finacle</h5>
                                                <div class="row">
                                                    <div class="col text-center b-r-light">
                                                        <span>Daily</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">20</h4>
                                                    </div>
                                                    <div class="col text-center b-r-light">
                                                        <span>Week</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">50</h4>
                                                    </div>
                                                    <div class="col text-center">
                                                        <span>Month</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">100</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-12 box-col-12">
                                        <div class="card social-widget-card">
                                            <div class="card-body" style="padding: 4px;">
                                                <h5 class="b-b-light" style="font-size: 16px;">SMS Gateway</h5>
                                                <div class="row">
                                                    <div class="col text-center b-r-light">
                                                        <span>Daily</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">20</h4>
                                                    </div>
                                                    <div class="col text-center b-r-light">
                                                        <span>Week</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">50</h4>
                                                    </div>
                                                    <div class="col text-center">
                                                        <span>Month</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">100</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-12 box-col-12">
                                        <div class="card social-widget-card">
                                            <div class="card-body" style="padding: 4px;">
                                                <h5 class="b-b-light" style="font-size: 16px;">FPT E-Contract</h5>
                                                <div class="row">
                                                    <div class="col text-center b-r-light">
                                                        <span>Daily</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">20</h4>
                                                    </div>
                                                    <div class="col text-center b-r-light">
                                                        <span>Week</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">50</h4>
                                                    </div>
                                                    <div class="col text-center">
                                                        <span>Month</span>
                                                        <h4 class="counter mb-0" style="font-size: 12px;">100</h4>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                                                        <div class="cal-info text-center">
                                                            <div>
                                                                <h2>24</h2>
                                                                <div class="d-inline-block"><span class="b-r-dark pe-3">March</span><span class="ps-3">2018</span></div>
                                                                <p class="f-16">There is no minimum donation, any sum is appreciated</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                                                        <div class="cal-datepicker">
                                                            <div class="datepicker-here float-sm-end" data-language="en">           </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>

                        <div class="card mt-2" style="border: 1px solid #000;">
                            <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
                                <div class="row">
                                    <div class="header-top d-sm-flex text-center">
                                        <h6>Transactions</h6>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card browser-widget">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Income</h5>
                                            <div class="media card-body justify-content-between align-items-center" style="padding: 4px;">
                                                <div class="media-body align-self-center">
                                                    <div>
                                                        <p>Daily </p>
                                                        <h4><span class="counter">36</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Month </p>
                                                        <h4><span class="counter">96</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Week </p>
                                                        <h4><span class="counter">46</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card browser-widget">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Outcome</h5>
                                            <div class="media card-body justify-content-between align-items-center" style="padding: 4px;">
                                                <div class="media-body align-self-center">
                                                    <div>
                                                        <p>Daily </p>
                                                        <h4><span class="counter">36</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Month </p>
                                                        <h4><span class="counter">96</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Week </p>
                                                        <h4><span class="counter">46</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card browser-widget">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Customers</h5>
                                            <div class="media card-body justify-content-between align-items-center" style="padding: 4px;">
                                                <div class="media-body align-self-center">
                                                    <div>
                                                        <p>Daily </p>
                                                        <h4><span class="counter">36</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Month </p>
                                                        <h4><span class="counter">96</span></h4>
                                                    </div>
                                                    <div>
                                                        <p>Week </p>
                                                        <h4><span class="counter">46</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="header-top d-sm-flex text-center">
                                        <h6>Payment Partner</h6>
                                    </div>
                                    <div class="col-xl-6 xl-50 box-col-12">
                                        <div class="widget-joins card widget-arrow">
                                            <div class="row">
                                            <div class="col-sm-6 pe-0">
                                                <div class="media border-after-xs justify-content-between" style="height: 100%;">
                                                    <div class="me-3">
                                                        <h4 class="mb-0">NAPAS</h4>
                                                    </div>
                                                    
                                                
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-0">
                                                <div class="media">
                                                <div class="align-self-center me-3 text-start"><span class="widget-t mb-1">Sale</span>
                                                    <h5 class="mb-0">Month</h5>
                                                </div>
                                                <div class="media-body align-self-center"><i class="font-primary" data-feather="arrow-up"></i></div>
                                                <div class="media-body ps-2">
                                                    <h5 class="mb-0">$<span class="counter">6954</span></h5><span class="mb-1">+$369(15%)</span>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 pe-0">
                                                <div class="media border-after-xs">
                                                <div class="align-self-center me-3 text-start"><span class="widget-t mb-1">Sale</span>
                                                    <h5 class="mb-0">Week</h5>
                                                </div>
                                                <div class="media-body align-self-center"><i class="font-primary" data-feather="arrow-up"></i></div>
                                                <div class="media-body">
                                                    <h5 class="mb-0">$<span class="counter">63147</span></h5><span class="mb-1">+$69(65%)</span>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ps-0">
                                                <div class="media">
                                                <div class="align-self-center me-3 text-start"><span class="widget-t mb-1">Sale</span>
                                                    <h5 class="mb-0">Year</h5>
                                                </div>
                                                <div class="media-body align-self-center ps-3"><i class="font-primary" data-feather="arrow-up"></i></div>
                                                <div class="media-body ps-2">
                                                    <h5 class="mb-0">$<span class="counter">963198</span></h5><span class="mb-1">+$3654(90%)          </span>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-2" style="border: 1px solid #000;">
                            <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
                                <div class="row">
                                    <div class="header-top d-sm-flex text-center">
                                        <h6>Functionals</h6>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Issue Card</h5>
                                            <div class="card-body grid-showcase" style="padding: 8px">
                                                <div class="row">
                                                    <div class="col order-first">
                                                        <span>Daily: 150 (50 success, 100 failure)</span>
                                                        <span>Week: 150 (50 success, 100 failure)</span>
                                                        <span>Month: 150 (50 success, 100 failure)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">E Statement</h5>
                                            <div class="card-body grid-showcase" style="padding: 8px">
                                                <div class="row">
                                                    <div class="col order-first">
                                                        <span>Daily: 150 (50 success, 100 failure)</span>
                                                        <span>Week: 150 (50 success, 100 failure)</span>
                                                        <span>Month: 150 (50 success, 100 failure)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12 col-sm-12">
                                        <div class="card">
                                            <h5 class="mx-2 mt-2" style="font-size: 16px;">Request E-Contract</h5>
                                            <div class="card-body grid-showcase" style="padding: 8px">
                                                <div class="row">
                                                    <div class="col order-first">
                                                        <span>Daily: 150 (50 success, 100 failure)</span>
                                                        <span>Week: 150 (50 success, 100 failure)</span>
                                                        <span>Month: 150 (50 success, 100 failure)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

