<main id="main" class="main">
    <div class="pagetitle">
       <h1>Error Logs</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Error Logs</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Robo</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#robotoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#roboweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#robomonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="robotoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="roboweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="robomonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vtiger</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#vtigerrobotoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#vtigerroboweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact1" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="vtigerrobotoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="vtigerroboweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="bordered-justified-contact1" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vymo</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#vymotoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#vymoweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#vymomonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="vymotoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="vymoweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="vymomonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pega CRM</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pegacrmtoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pegacrmweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#pegacrmmonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="pegacrmtoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="pegacrmweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="pegacrmmonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pega LOS</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pegalostoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pegalosweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#pegalosmonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="pegalostoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="pegalosweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="pegalosmonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">FINACLE</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#finacletoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#finacleweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#finaclemonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="finacletoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="finacleweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="finaclemonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SMS Gateway</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#smsgatewaytoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#smsgatewayweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#smsgatewaymonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="smsgatewaytoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="smsgatewayweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="smsgatewaymonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Viet QR</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#vietQRtoday" type="button" role="tab" aria-controls="home" aria-selected="true">Today</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#vietQRweek" type="button" role="tab" aria-controls="profile" aria-selected="false">Week</button></li>
                            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#vietQRmonth" type="button" role="tab" aria-controls="contact" aria-selected="false">Month</button></li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active" id="vietQRtoday" role="tabpanel" aria-labelledby="home-tab">Today</div>
                            <div class="tab-pane fade" id="vietQRweek" role="tabpanel" aria-labelledby="profile-tab">Week</div>
                            <div class="tab-pane fade" id="vietQRmonth" role="tabpanel" aria-labelledby="contact-tab">Month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

