<main id="main" class="main">
    <div class="pagetitle">
       <h1>System</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">System</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Robo <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Vtiger <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Vymo <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Pega CRM <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Pega LOS <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">FINACLE <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">SMS Gateway <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Viet QR <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">FPT E CONTRACT <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">CleverTab <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">TUTUKA <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">TASECO <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">HYPER VERGE <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">BackBase <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Appflyer <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">Concentrix <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
                            <div class="ps-3">
                                <h6>145</h6>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Week: 145</span>
                        </div>
                        <div class="d-flex align-items-center mt-2 justify-content-center">
                            <span>Month: 145</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

