<main id="main" class="main">
    <div class="pagetitle">
       <h1>Transactions</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Transactions</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
        <h4 class="breadcrumb-item active">Total Transactions: 200</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Income <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                            <h6>100</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Outcome <span>| This week</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                            <h6>100</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card info-card sales-card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Customers <span>| This Month</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                            <h6>100</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <h4 class="breadcrumb-item active">Payment Partner</h4>
        <div class="row">
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">PAYOO <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                  <div class="d-flex align-items-center">
                     <div>
                        <span>Week: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                     <div>
                        <span>Month: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">SMART PAY <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                  <div class="d-flex align-items-center">
                     <div>
                        <span>Week: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                     <div>
                        <span>Month: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">VN POST <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                  <div class="d-flex align-items-center">
                     <div>
                        <span>Week: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                     <div>
                        <span>Month: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">VPBANK <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                  <div class="d-flex align-items-center">
                     <div>
                        <span>Week: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                     <div>
                        <span>Month: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card info-card sales-card">
                    <div class="card-body">
                        <h5 class="card-title">NAPAS <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-phone-vibrate-fill"></i></div>
                            <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                            <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure</span>
                            </div>
                        </div>
                        <hr/>
                  <div class="d-flex align-items-center">
                     <div>
                        <span>Week: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                     <div>
                        <span>Month: 145 (</span>
                        <span class="text-success small pt-1 fw-bold">5</span> <span class="text-muted small pt-2 ps-1">success, </span>
                        <span class="text-danger small pt-1 fw-bold">140</span> <span class="text-muted small pt-2 ps-1">failure)</span>
                     </div>
                  </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

