<main id="main" class="main">
   <div class="pagetitle">
      <h1>Onboarding</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Onboarding</li>
         </ol>
      </nav>
   </div>
      <section class="section dashboard">
         <div class="row">
         <div class="col-lg-7">
            <div class="row">
               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Start - Enter Mobile <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Submit E-KYC<span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">E-KYC Result <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">AML Result <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Video KYC <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">E-Contact Ready <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title"> E-Sign <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Send E-Sign OTP <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="card-body">
                        <h5 class="card-title">Complete E-Sign <span>| Today</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                           <div class="ps-3">
                              <h6>145</h6>
                              <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
         <div class="col-lg-5">
            <div class="card mb-0">
               <div class="card-header">
                  <h3 class="h4 mb-0">Total Table</h3>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                  <table class="table mb-0">
                     <thead>
                        <tr>
                        <th>Step</th>
                        <th>Week</th>
                        <th>Month</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Start - Enter Mobile</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>Submit E-KYC</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>E-KYC Result</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>AML Result</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>Video KYC</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>E-Contact Ready</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>Customer at E-Sign</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>Send E-Sign OTP</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>Complete E-Sign</td>
                           <td>145</td>
                           <td>145</td>
                        </tr>
                     </tbody>
                  </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
</section>
</main>